.loaderContainer {
  margin: auto;
  font-size: 14px;
  max-width: 300px;
  text-align: center;
}

.spinner{
  width: 40px;
  height: 40px;
  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;
  margin: auto;
  animation: spin 1.5s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}